<header>
    <img src="https://cmsassets.rgpub.io/sanity/images/dsfx7636/news_live/f657721a7eb06acae52a29ad3a951f20c1e5fc60-1920x1080.jpg" alt="Valoranpedia" width=300>
    <link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
    <script src="/pagefind/pagefind-ui.js"></script>
    <div id="search"></div>
    <script>
	    window.addEventListener("DOMContentLoaded", (event) => {
		    new PagefindUI({ element: "#search", showSubResults: true });
	    });
    </script>
    {% include "menu.njk" %}
  </header>