<header>
    <img src="/img/logo.png" alt="Logo Mr. Robot" width=400>
    <link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
    <script src="/pagefind/pagefind-ui.js"></script>
    <div id="search"></div>
    <script>
	    window.addEventListener("DOMContentLoaded", (event) => {
		    new PagefindUI({ element: "#search", showSubResults: true });
	    });
    </script>
    {% include "menu.njk" %}
  </header>