---
layout: layout-page.njk
title: Página de Acerca
description: Meta descripción de la página de acerca
---

<h1>{{ title }}</h1>
<h2>Retimax</h2>
<img src="/img/profile.png" alt="Foto de portada del creador de la wiki" width=200>
<hr>
<p>
  Soy un estudiante de ingenieria en ciberseguridad apacionado por el saber, en proceso de especialización en pentesting y aficionado de las CTFs.
</p>