---
layout: layout-page.njk
title: Página de inicio
description: Meta descripción de la página de inicio
---

 <h1>¡Bienvenido a mi perfil! Soy Ander Garzón</h1>
        <p>
          Soy estudiante de Ciberseguridad en la Universidad Amerike en la
          Ciudad de México. Me apasiona la seguridad informática y, en especial,
          el pentesting, área en la que tengo conocimientos avanzados. Mi
          objetivo es seguir creciendo en el campo de la ciberseguridad y ayudar
          a proteger sistemas y redes de posibles amenazas.
        </p>
        <h2>Un poco sobre mí:</h2>
        <ul>
          <li>
            <b>📚</b> Actualmente, me encuentro estudiando la carrera de
            Ciberseguridad en la Universidad Amerike en la Ciudad De México.
          </li>
          <li>
            <b>🕹️</b> Antes de adentrarme en el mundo de la seguridad
            informática, fui jugador profesional de Valorant, lo que me enseñó
            la importancia del trabajo en equipo, la estrategia y la
            perseverancia.
          </li>
          <li>
            <b>💻</b> Estoy enfocado en proyectos relacionados con pentesting y
            seguridad de redes.
          </li>
        </ul>

        <blockquote>
          "Cada día es una nueva oportunidad para aprender algo nuevo, y los
          libros son mis mejores aliados en este viaje continuo de
          conocimiento."
        </blockquote>

        <h2>💻 Lenguajes:</h2>
        <ul>
          <li><b>C++</b></li>
          <li><b>JavaScript</b></li>
          <li><b>Markdown</b></li>
          <li><b>PowerShell</b></li>
          <li><b>Ciberseguridad</b></li>
        </ul>

        <h2>🛠️ Tecnologías y Herramientas de Pentesting:</h2>
        <ul>
          <li><b>Nmap</b></li>
          <li><b>Wireshark</b></li>
          <li><b>Metasploit</b></li>
          <li><b>Kali Linux</b></li>
        </ul>
<img src="/img/image.png" alt="Logo de el grupo ciberactivista fsociety" width=500>
