@import "bootstrap/dist/css/bootstrap.min.css";

* {
  box-sizing: border-box;
}

body {
  background-color: #0f1923;
  margin: 0 auto;
  padding: 1rem;
  max-width: 800px;
  min-height: 100vh;
  border: medium solid #4e5867;
  text-align: center;
  font-family: "Rajdhani", sans-serif;
  color: #ece8e1;
}

a {
  color: #ece8e1;
  transition: all 0.3s ease-out;
  text-decoration: none;
}

a:hover {
  color: #f45656;
}

small,
h1,
h2,
h3,
hr {
  margin: 2rem auto;
  width: 80%;
  color: #ece8e1;
}

img {
  display: block;
  margin: 0 auto;
}

p,
li {
  text-align: left;
  color: #ece8e1;
}

.menu {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  border: thin solid #4e5867;
}

.menu ul {
  margin: 0;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.menu li {
  list-style: none;
}
